# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
name: CI
on:
  - push
  - pull_request
env:
  OZONE_BIN_URL: https://dlcdn.apache.org/ozone/1.4.0/ozone-1.4.0.tar.gz
  OZONE_SRC_URL: https://dlcdn.apache.org/ozone/1.4.0/ozone-1.4.0-src.tar.gz
  # TEMP validate tests with existing image
  OZONE_RUNNER_IMAGE: apache/ozone-runner # ${{ github.repository }}
  OZONE_RUNNER_VERSION: 20240316-jdk17-1 # ${{ github.run_number }}
jobs:
#  build:
#    runs-on: ubuntu-latest
#    steps:
#      - name: checkout source
#        uses: actions/checkout@v4
#      - name: build image
#        run: DOCKER_BUILDKIT=1 docker build -t "$OZONE_RUNNER_IMAGE":"$OZONE_RUNNER_VERSION" .
#      - name: save image
#        run: docker image save -o image.tar "$OZONE_RUNNER_IMAGE":"$OZONE_RUNNER_VERSION"
#      - name: upload image as artifact
#        uses: actions/upload-artifact@v4
#        with:
#          name: image
#          path: image.tar
  acceptance:
    runs-on: ubuntu-latest
#    needs: build
    strategy:
      matrix:
        suite:
          - HA-secure # can add more later
      fail-fast: false
    steps:
      - name: Download Ozone sources
        run: |
          curl -LSs -o ozone-src.tar.gz ${OZONE_SRC_URL}
          tar -xvz --strip-components 1 -f ozone-src.tar.gz
      - name: Download Ozone binaries
        run: |
          curl -LSs -o ozone.tar.gz ${OZONE_BIN_URL}
          mkdir -p hadoop-ozone/dist/target
          tar xzvf ozone.tar.gz -C hadoop-ozone/dist/target
          rm ozone.tar.gz
#      - name: Download image
#        uses: actions/download-artifact@v4
#        with:
#          name: image
#      - name: Load image
#        run: |
#          docker image load -i image.tar
#          rm image.tar
      - name: TEMP pull image
        run: docker image pull "$OZONE_RUNNER_IMAGE":"$OZONE_RUNNER_VERSION"
      - name: Execute tests
        run: |
          pushd hadoop-ozone/dist/target/ozone-*
          sudo mkdir .aws && sudo chmod 777 .aws && sudo chown 1000 .aws
          popd
          ./hadoop-ozone/dev-support/checks/acceptance.sh
        env:
          OZONE_ACCEPTANCE_SUITE: ${{ matrix.suite }}
          OZONE_VOLUME_OWNER: 1000
        continue-on-error: true
      - name: Summary of failures
        run: hadoop-ozone/dev-support/checks/_summary.sh target/${{ github.job }}/summary.txt
        if: ${{ !cancelled() }}
      - name: Archive build results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: acceptance-${{ matrix.suite }}
          path: target/acceptance
        continue-on-error: true
